*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: darkslategray;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#imagem-lado{
    width: 40vw;
    height: 90vh;
    background-color: white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 20px;
    box-shadow: 0 8px 6px -7px black;
}

#titulo-imagem{
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#imagem-lado #imagem img{
    width: 100%;
}

form{
    width: 50vw;
    height: 90vh;
    background-color: white;
    padding: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0 8px 6px -7px black;
}

form #titulo{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    text-align: center;
}

form #entrada-dados{
    text-align: center;
    margin-top: 20px;
}

form #entrada-dados input{
    width: 70%;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 20px;
}

form #botao-enviar{
    margin-top: 40px;
    text-align: center;
}

#botao-enviar input{
    padding: 20px;
    border-radius: 10px;
    font-size: 20px;
    width: 20%;
    cursor: pointer;
}